<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('CMP-0HeadGenerico') %>
		<%- include('CMP-0HeadPers') %>
	</head>
	<body>
		<header><%- include('CMP-1Header') %></header>
		<main><%- include('CMP-2Main') %></main>
		<footer><%- include('CMP-3Footer') %></footer>
	</body>
</html>
