<div class="iconosFooter">
	<!-- Contactanos -->
	<a href="/contactanos" tabindex="-1">
		<i class="fa-solid fa-envelope" title="Contactanos"></i>
	</a>

	<% if (locals.usuario &&usuario.rol.actualizac) { %>
		<!-- Biblioteca -->
		<a href="/biblioteca" class="menuOpcion">
			<i class="fa-solid fa-book-medical"></i>
		</a>
		<!-- Capacitación -->
		<a href="/videos" class="menuOpcion">
			<i class="fa-solid fa-video"></i>
		</a>
	<% } %>

</div>

<!-- Otros -->
<% if (locals.usuario && usuario.rol.actualizac) { %>
	<div id="iconosFooterOtros" class="iconosFooter">
		<% for (const icono of iconosAgrupados.filter(n => n.codigo)) { %>
			<% const muestraLectura = icono.codigo == "lectura" && ["actualizar", "revisar"].includes(locals.temaVista) %>
			<% const muestraEdicion = icono.codigo == "actualizar" && usuario.rol.actualizac && locals.temaVista != "actualizar" %>
			<% const muestraRevision = icono.codigo == "revisar" && usuario.rol.revision && locals.temaVista != "revisar" %>
			<% const muestraCambioRol = icono.codigo == "cambioRol" && usuario.rol.cambioRol && locals.codigoVista != "cambioRol" %>
			<% if (muestraLectura || muestraEdicion || muestraRevision || muestraCambioRol) { %>
				<a href="<%= icono.link || locals.anchorLectura || '' %>" id="<%= icono.codigo %>" title="<%= icono.nombre %>">
					<i class="fa-solid <%= icono.clase %> scaleHover"></i>
				</a>
			<% } %>
		<% } %>
	</div>
<% } %>

<!-- Redes -->
<div id="iconosFooterRedes" class="iconosFooter">
	<% for (const icono of iconosAgrupados.filter(n => !n.codigo)) { %>
		<a href="<%= icono.link %>" target="_blank" title="<%= icono.nombre %>" rel="noopener noreferrer">
			<i class="fa-brands <%= icono.clase %> scaleHover"></i>
		</a>
	<% } %>
</div>
