<!-- Contactanos -->
<a href="/contactanos" tabindex="-1">Contactanos</a>

<!-- Otros -->
<% if (locals.usuario && usuario.rol.actualizac) { %>
	<div id="iconosFooterOtros" class="iconosFooter">
		<% for (const icono of iconosAgrupados.filter(n => n.codigo)) { %>
			<% const muestraLectura = icono.codigo == "lectura" && ["actualizar", "revisar"].includes(locals.temaVista) %>
			<% const muestraEdicion = icono.codigo == "actualizar" && usuario.rol.actualizac && locals.temaVista != "actualizar" %>
			<% const muestraRevision = icono.codigo == "revisar" && usuario.rol.revision && locals.temaVista != "revisar" %>
			<% const muestraCambioRoles = icono.codigo == "cambioRoles" && usuario.rol.cambioRoles && codigoVista != "cambioRoles" %>
			<% if (muestraLectura || muestraEdicion || muestraRevision || muestraCambioRoles) { %>
				<a href="<%= icono.link %>" id="<%= icono.codigo %>" title="<%= icono.nombre %>">
					<i class="fa-solid <%= icono.clase %> scaleHover"></i>
				</a>
			<% } %>
		<% } %>
	</div>
<% } %>

<!-- Redes -->
<div id="iconosFooterRedes" class="iconosFooter">
	<% for (const icono of iconosAgrupados.filter(n => !n.codigo)) { %>
		<a href="<%= icono.link %>" target="_blank" title="<%= icono.nombre %>" rel="noopener noreferrer">
			<i class="fa-brands <%= icono.clase %> scaleHover"></i>
		</a>
	<% } %>
</div>
