<!-- Contactanos -->
<a href="/contactanos" tabindex="-1">Contactanos</a>

<!-- Otros -->
<% if (locals.usuario && usuario.rol.edicion) { %>
	<div id="iconosFooterOtros" class="iconosFooter">
		<% for (const icono of iconosAgrupados.filter(n => n.grupo == "footerOtros")) { %>
			<% const muestraLectura = icono.lectura && temaVista == "abmContenido" %>
			<% const muestraEdicion = icono.edicion && usuario.rol.edicion && (temaVista != "abmContenido" || codigoVista != "actualizar") %>
			<% const muestraRevision = icono.revision && usuario.rol.revision && (temaVista != "abmContenido" || codigoVista != "revisar") %>
			<% const muestraAdmin = icono.admin && usuario.rol.admin && (temaVista != "usuarios" || codigoVista != "cambioRoles") %>
			<% if (muestraLectura || muestraEdicion || muestraRevision || muestraAdmin) { %>
				<a href="<%= icono.link %>" id="<%= icono.codigo %>" title="<%= icono.nombre %>">
					<i class="fa-solid <%= icono.clase %> scaleHover"></i>
				</a>
			<% } %>
		<% } %>
	</div>
<% } %>

<!-- Redes -->
<div id="iconosFooterRedes" class="iconosFooter">
	<% for (const icono of iconosAgrupados.filter(n => n.grupo == "footerRedes")) { %>
		<a href="<%= icono.link %>" target="_blank" title="<%= icono.nombre %>" rel="noopener noreferrer">
			<i class="fa-brands <%= icono.clase %> scaleHover"></i>
		</a>
	<% } %>
</div>
