<div class="texto ocultar768">
	Versión <%= versionWeb %>
</div>

<div class="iconos">
	<!-- Contactanos -->
	<a href="/contactanos" tabindex="-1">
		<i class="fa-solid fa-envelope" title="Contactanos"></i>
	</a>

	<!-- Videos -->
	<a href="/videos" title="Videos de capacitación">
		<i class="fa-solid fa-video"></i>
	</a>

	<% if (locals.usuario && usuario.rol.actualizac) { %>
		<!-- Biblioteca -->
		<a href="/biblioteca" title="Biblioteca" class="ocultar768">
			<i class="fa-solid fa-book-medical"></i>
		</a>
	<% } %>

</div>

<!-- Otros -->
<% if (locals.usuario && usuario.rol.actualizac) { %>
	<div id="rolesVip" class="iconos">
		<% for (const icono of iconosAgrupados.filter(n => n.codigo)) { %>
			<% const muestraLectura = icono.codigo == "lectura" && ["actualizar", "revisar"].includes(locals.temaVista) %>
			<% const muestraEdicion = icono.codigo == "actualizar" && usuario.rol.actualizac && locals.temaVista != "actualizar" %>
			<% const muestraRevision = icono.codigo == "revisar" && usuario.rol.revision && locals.temaVista != "revisar" %>
			<% const muestraCambioRol = icono.codigo == "cambioRol" && usuario.rol.cambioRol && locals.codigoVista != "cambioRol" %>
			<% if (muestraLectura || muestraEdicion || muestraRevision || muestraCambioRol) { %>
				<a
					href="<%= icono.link || locals.anchorLectura || '' %>"
					id="<%= icono.codigo %>" title="<%= icono.nombre %>"
					<% if (muestraEdicion) { %> class="ocultar768"<% } %>
				>
					<i class="fa-solid <%= icono.clase %> scaleHover"></i>
				</a>
			<% } %>
		<% } %>
	</div>
<% } %>

<!-- Redes -->
<div class="iconos">
	<% for (const icono of iconosAgrupados.filter(n => !n.codigo)) { %>
		<a href="<%= icono.link %>" target="_blank" title="<%= icono.nombre %>" rel="noopener noreferrer">
			<i class="fa-brands <%= icono.clase %> scaleHover"></i>
		</a>
	<% } %>
</div>

<!-- Realizado por -->
 <div class="texto ocultar768">
	<a href="mailto:sp2015w@gmail.com">Realizado por D.I.</a>
</div>