<!-- Filtros -->
<section id="sectorFiltros" class="sector">
	<h2>Filtros</h2>
	<div id="filtros">
		<select name="seccion_id">
			<% for (const seccion of secciones) { %>
				<option value="<%= seccion.id %>"><%= seccion.nombre %></option>
			<% } %>
		</select>
		<select name="tema_id" class="ocultar"></select>
		<select name="pestana_id" class="ocultar"></select>
		<select name="encabezado" class="ocultar"></select>
	</div>
	<a id="linkLectura" href="" target="_blank" title="Link a solo lectura">
		<i class="fa-solid <%= iconos.link %>"></i>
	</a>
</section>

<!-- Form -->
<form>
	<!-- Encabezado -->
	<section id="sectorEncabezados" class="sector">
		<div id="encabCartas" class="encabezado ocultar">
			<select name="numero" class="input">

			</select>
			<select name="nombreDesde_id" class="input" data-tabla="personajes">
				<option value="">Remitente</option>
			</select>
			<select name="nombreHacia_id" class="input" data-tabla="personajes">
				<option value="">Destinatario</option>
			</select>
			<select name="lugar_id" class="input" data-tabla="lugares">
				<option value="">Dónde se escribió</option>
			</select>
			<select name="idioma_id" class="input" data-tabla="idiomas">
				<option value="">Idioma</option>
			</select>
			<div id="areaSoltar">
				<p id="cartelImagen">Imagen</p>
				<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
				<img id="vistaImagen" src="">
			</div>
			<input type="date" name="fechaEvento" class="input">
		</div>
		<div id="encabExpers" class="encabezado ocultar">
			<input type="text" name="titulo" class="input" placeholder="Título">
			<input type="text" name="subTitulo" class="input" placeholder="Sub-título">
			<select name="lugar_id" class="input" data-tabla="lugares">
				<option value="">Dónde ocurrió</option>
			</select>
			<input type="date" name="fechaEvento" class="input">
		</div>
		<div id="encabSinIndice" class="encabezado ocultar">
			<input type="text" name="titulo" class="input" placeholder="Título">
			<input type="text" name="subTitulo" class="input" placeholder="Sub-título">
			<!-- <select name="orden" class="input">
			</select> -->
		</div>
		<div class="iconos">
			<i id="guardar" class="fa-solid fa-save"></i><!-- guardar -->
			<i id="eliminar" class="fa-solid <%= iconos.eliminar %>"></i><!-- eliminar -->
		</div>
	</section>

	<section id="sectorContenido">
		<!-- Contenido actual -->
		<div id="sectorContActual" class="sector">
			<!-- Bloque (texto + imagen, video, carrousel) -->
			<div class="bloque">
				<div class="contenido"></div>
				<!-- Íconos -->
				<div class="iconos">
					<i class="fa-solid <%= iconos.edicion %>"></i><!-- editar -->
					<i class="fa-solid fa-up-long"></i><!-- subir -->
					<i class="fa-solid fa-down-long"></i><!-- bajar -->
					<i class="fa-solid <%= iconos.eliminar %>"></i><!-- eliminar -->
				</div>
			</div>
		</div>

		<!-- Contenido nuevo -->
		<div id="contenidoNuevo" class="ocultar sector">
			<div></div>
			<div id="iconosContNuevo">
				<!-- guardar -->
				<!-- cancelar -->
			</div>
		</div>
	</section>
</form>
