<section id="menuTituloTema" class="flexRowAlign" data-seccion_codigo="<%= seccionActual.codigo %>">
	<%- include("LT-1Temas") %>

	<h1 id="tituloTema"><%= temaActual.titulo %></h1>
</section>

<section id="cuerpo">
	<!-- Sin pestañas -->
	<% if (!locals.pestanasTema) { %>
		<%- include("LT-" + archVista) %>
	<% } else { %>
		<!-- Pestañas -->
		<%- include("LT-2Pestanas") %>

		<!-- Contenido -->
		<% pestanasTema.forEach((pestana, i) => { %>
			<%- include("LT-" + archVista) %>
		<% }) %>
	<% } %>
</section>
