<section id="menuTituloTema" class="flexRowAlign" data-seccion_codigo="<%= seccionActual.codigo %>">
	<%- include("LT-MenuTemas") %>

	<h1 id="tituloTema"><%= temaActual.titulo %></h1>
</section>

<% if (locals.pestanasTema) { %>
	<!-- Con pestañas -->
	<section id="cuerpo">
		<!-- Pestañas -->
		<%- include("LT-MenuPestanas") %>

		<!-- Contenido del cuerpo -->
		<div class="contenidoCuerpo">
			<%- include("LT-2Contenido") %>
		</div>
	</section>

<% } else { %>
	<!-- Sin pestañas -->
	<section id="cuerpo" class="contenidoCuerpo">
		<%- include("LT-2Contenido") %>
	</section>
<% } %>


