<section id="menuTituloTema" class="flexRowAlign" data-seccion_codigo="<%= seccionActual.codigo %>">
	<%- include("LT-1Temas") %>

	<h1 id="tituloTema"><%= temaActual.titulo %></h1>
</section>

<section id="contenidoTemas">
	<!-- Tema -->
	<div class="contenidoTema contenido" data-tema_codigo="<%= temaActual.codigo %>">
		<!-- Sin pesta単as -->
		<% if (!locals.pestanasTema) { %>
			<%- include("LT-" + archVista) %>

		<% } else { %>
			<!-- Tiene pesta単as - Pesta単as -->
			<%- include("LT-2Pestanas") %>

			<!-- Tiene pesta単as - Contenido -->
			<% pestanasTema.forEach((pestana, i) => { %>
				<div class="contenidoPestana contenido <% if (pestanaActual && pestana.id != pestanaActual.id) { %>ocultar<% } %>" data-pestana_codigo="<%= pestana.codigo %>">
					<%- include("LT-" + archVista) %>
				</div>
			<% }) %>
		<% } %>
	</div>
</section>
