<section id="menuTituloTema" class="flexRowAlign" data-seccion_codigo="<%= seccionActual.codigo %>">
	<%- include("LT-1Temas") %>

	<h1 id="tituloTema"><%= temaActual.titulo %></h1>
</section>

<section id="contenidoTemas">
	<% for (const tema of temasSeccion) { %>
		<!-- Tema -->
		<div class="contenidoTema contenido <% if (tema.id != temaActual.id) { %>ocultar<% } %>" data-tema_codigo="<%= tema.codigo %>">
			<!-- Sin pesta単as -->
			<% if (!tema.pestanas.length) { %>
				<%- include("LT-3ArticCarta", {tema, sonCartas: tema.codigo == "cartas"}) %>

			<% } else { %>
				<!-- Tiene pesta単as - Pesta単as -->
				<%- include("LT-2Pestanas", {tema}) %>

				<!-- Tiene pesta単as - Contenido -->
				<% tema.pestanas.forEach((pestana, i) => { %>
					<div class="contenidoPestana contenido <% if (pestanaActual && pestana.id != pestanaActual.id) { %>ocultar<% } %>" data-pestana_codigo="<%= pestana.codigo %>">
						<%- include("LT-3ArticCarta", {pestana}) %>
					</div>
				<% }) %>
			<% } %>
		</div>
	<% } %>
</section>
