<section id="menuTituloTema" data-seccion_codigo="<%= seccionActual.codigo %>">
	<%- include("LT-Menu-1Temas") %>
	<h1 id="tituloPrincipal"><%= temaActual.titulo %></h1>
</section>

<% if (locals.pestanasTema) { %>
	<!-- Con pestañas -->
	<section id="cuerpo">
		<!-- Pestañas -->
		<%- include("LT-Menu-2Pestanas") %>

		<!-- Contenido del cuerpo -->
		<div class="contenidoCuerpo">
			<%- include("LT-2Articulos") %>
		</div>
	</section>

<% } else { %>
	<!-- Sin pestañas -->
	<section id="cuerpo" class="contenidoCuerpo">
		<%- include("LT-2Articulos") %>
	</section>
<% } %>
