<% if (conIndice && encabezado) { %>
	<div id="filtroIndice">
		<% if (esCarta) { %> <%- include("LT-IndiceCartas") %><% } %>
		<% if (!esCarta) { %><%- include("LT-IndiceResto") %><% } %>

		<div id="flechas">
			<% if (encabezado.ant_id) { %>
				<a href="?id=<%= encabezado.ant_id %>" class="flechaIzquierda">
					<i class="<%= iconos.faSolid %> <%= iconos.izquierda %>"></i>
				</a>
			<% } %>
			<% if (encabezado.sig_id) { %>
				<a href="?id=<%= encabezado.sig_id %>" class="flechaDerecha">
					<i class="<%= iconos.faSolid %> <%= iconos.derecha %>"></i>
				</a>
			<% } %>
		</div>
	</div>
<% } %>

<div id="tituloMasContenido">
	<h2 id="tituloDelContenido" class="fondo"><%= locals.tituloCarta || locals.encabezado && encabezado.titulo %></h2>
	<div id="contenido" class="fondo <%= clase %>">
		<% if (encabezado) for (const contenido of contenidos) { %>
			<div class="bloque">
				<% if (temaActual.codigo.startsWith("libros")) { %>
					<img src="/imgsEditables/<%- contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Contenido' %>/<%= contenido.imagen %>" alt="">
					<div class="texto">
						<div class="nombre"><%= contenido.texto %></div>
						<div class="autor"><%= contenido.leyenda %></div>
						<div class="editorialAno">
							<%= contenido.video %>
							<% if (contenido.video.toLowerCase().includes("descarga")) { %>
								<a href="/descargas/El-estandarte-de-la-mujer-fuerte.pdf" download>
									<i class="fa-solid fa-download"></i>
								</a>
							<% } %>
						</div>
					</div>

				<% } else if (locals.encabezado) { %>
					<% if (contenido.texto || contenido.imagen) { %>
						<% if (contenido.imagen) { %>
							<div class="imgLeyenda">
								<img class="imagen" src="/imgsEditables/<%- contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Contenido' %>/<%= contenido.imagen %>">
								<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
							</div>
						<% } %>
						<% if (contenido.texto) { %>
							<div class="texto"><%- contenido.texto %></div>
						<% } %>
					<% } %>
					<% if (contenido.video) { %>
						<div class="imgLeyenda">
							<iframe src="https://www.youtube.com/embed/<%= contenido.video %>?autoplay=1"></iframe>
							<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
						</div>
					<% } %>
					<% if (contenido.carrusel.length) { %>
						<!-- Carrusel -->
						<div class="carrusel">
							<% for (const carrusel of contenido.carrusel) { %>
								<img src="/imgsEditables/<%- carrusel.statusRegistro_id == creado_id ? '2-Revisar' : '1-Contenido' %>/<%= carrusel.imagen %>">
							<% } %>
						</div>
					<% } %>
				<% } %>
			</div>
		<% } %>
	</div>
</div>
