<div id="filtroIndice">
	<% if (codigoVista == "cartas") { %>	  <%- include("LT-IndiceCartas") %><% } %>
	<% if (codigoVista == "experiencias") { %><%- include("LT-IndiceEspers") %><% } %>
</div>

<div id="tituloMasContenido">
	<h2 id="tituloDelContenido" class="fondo"><%= locals.tituloCarta || locals.encabezado && encabezado.titulo %></h2>
	<div id="contsImagenes" class="fondo">
		<% if (locals.tituloCarta || encabezado) { %>
			<% for (const contenido of contenidos) { %>
				<% if (contenido.texto || contenido.imagen) { %>
					<div class="contImagen">
						<% if (contenido.imagen) { %>
							<div class="imgLeyenda">
								<img class="imagen" src="/imgsEditables/1-Contenido/<%= contenido.imagen %>">
								<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
							</div>
						<% } %>
						<% if (contenido.texto) { %>
							<div class="texto"><%- contenido.texto %></div>
						<% } %>
					</div>
				<% } %>
			<% } %>
		<% } %>

	</div>
</div>
