<% if (conIndice && encabezado) { %>
	<div id="filtroIndice">
		<% if (esCarta) { %> <%- include("LT-Indice-1Cartas") %><% } %>
		<% if (esLugares) { %> <%- include("LT-Indice-2Lugares") %><% } %>
		<% if (!esCarta && !esLugares) { %><%- include("LT-Indice-3Resto") %><% } %>

		<div id="flechas">
			<% if (encabezado.ant_id) { %>
				<a href="?id=<%= encabezado.ant_id %>" class="flechaIzquierda">
					<i class="<%= iconos.faSolid %> <%= iconos.izquierda %>"></i>
				</a>
			<% } %>
			<% if (encabezado.sig_id) { %>
				<a href="?id=<%= encabezado.sig_id %>" class="flechaDerecha">
					<i class="<%= iconos.faSolid %> <%= iconos.derecha %>"></i>
				</a>
			<% } %>
		</div>
	</div>
<% } %>

<div id="tituloMasContenido">
	<% const tituloDelContenido = locals.encabezado && (conIndice ? encabezado.tituloElab : encabezado.titulo) %>
	<% if (tituloDelContenido) { %>
		<h2 id="tituloDelContenido" class="fondo"><%= tituloDelContenido %></h2>
	<% } %>
	<div id="contenido" class="fondo <%= clase %>">
		<% if (encabezado) for (const contenido of contenidos) { %>
			<% const subCarpeta = contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>
			<div class="bloque">
				<% if (false) { %>
				<% } else if (clase == "libros") { %>
					<!-- LIBROS -->
					<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
					<div class="texto">
						<div class="nombre"><%= contenido.texto %></div>
						<div class="autor"><%= contenido.leyenda %></div>
						<div class="editorialAno">
							<%= contenido.video %>
							<% if (contenido.video.toLowerCase().includes("descarga")) { %>
								<!-- Particular para el download -->
								<a href="/descargas/El-estandarte-de-la-mujer-fuerte.pdf" download>
									<i class="fa-solid fa-download"></i>
								</a>
							<% } %>
						</div>
					</div>

				<% } else if (clase == "estampas") { %>
					<!-- ESTAMPAS -->
					<p><%= contenido.texto %></p>
					<div class="imagenes">
						<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
						<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.video %>">
					</div>

				<% } else if (locals.encabezado) { %>
					<% if (contenido.texto || contenido.imagen) { %>
						<% if (contenido.imagen) { %>
							<div class="imgLeyenda">
								<img class="imagen" src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
								<% if (contenido.leyenda) { %>
									<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
								<% } %>
							</div>
						<% } %>
						<% if (contenido.texto) { %>
							<div class="texto"><%- contenido.texto %></div>
						<% } %>
					<% } %>
					<% if (contenido.video) { %>
						<div class="imgLeyenda">
							<iframe src="https://www.youtube.com/embed/<%= contenido.video %>?autoplay=1"></iframe>
							<% if (contenido.leyenda) { %>
								<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
							<% } %>
						</div>
					<% } %>
					<% if (contenido.carrusel.length) { %>
						<!-- Carrusel -->
						<div class="carrusel" style="--anchorName: --carrusel-<%= contenido.id %>;">
							<% for (const carrusel of contenido.carrusel) { %>
								<div class="contenedorImg">
									<img src="/imgsEditables/<%- carrusel.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>/<%= carrusel.imagen %>">
								</div>
							<% } %>
						</div>
					<% } %>
				<% } %>
			</div>
		<% } %>
	</div>
</div>
