<% if (esConIndice && encabezado) { %>
	<!-- Filtros e Índice -->
	<div id="filtroIndice">
		<% if (esCarta) { %> <%- include("LT-Indice-1Cartas") %><% } %>
		<% if (esExpers) { %><%- include("LT-Indice-2Expers") %><% } %>
		<% if (esLugaresDevoc) { %> <%- include("LT-Indice-3LugaresDevoc") %><% } %>

		<div id="flechas">
			<% if (encabezado.ant_id) { %>
				<a href="?id=<%= encabezado.ant_id %>" class="flechaIzquierda">
					<i class="<%= iconos.faSolid %> <%= iconos.izquierda %>"></i>
				</a>
			<% } %>
			<% if (encabezado.sig_id) { %>
				<a href="?id=<%= encabezado.sig_id %>" class="flechaDerecha">
					<i class="<%= iconos.faSolid %> <%= iconos.derecha %>"></i>
				</a>
			<% } %>
		</div>
	</div>
<% } %>

<!-- Artículo -->
<div id="tituloMasContenido">

	<% const tituloDelContenido = locals.encabezado && (esConIndice ? encabezado.tituloElab : encabezado.titulo) %>
	<% if (tituloDelContenido) { %>
		<!-- Título del contenido -->
		<h3 id="tituloDelContenido"><%= tituloDelContenido %></h3>
	<% } %>

	<!-- Contenido -->
	<div id="contenido" tabindex="0" autofocus>
		<% if (encabezado) for (const contenido of contenidos) { %>
			<% const subCarpeta = contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>
			<%- include("LT-Cont-" + contenido.layout.archVistaLt, {contenido, subCarpeta}) %>
		<% } %>
	</div>

</div>
