<% if (esConIndice && encabezado) { %>
	<!-- Mostrar u ocultar los filtros e índice -->
	<i id="muestraFiltroIndice" class="<%= iconos.faSolid %> fa-chevron-right"></i>

	<!-- Filtros e Índice -->
	<div id="filtroIndice">
			<% if (esCarta) { %> <%- include("LT-1Cartas-1FiltroIndice") %><% } %>
			<% if (esExpers) { %><%- include("LT-2Expers-1FiltroIndice") %><% } %>
			<% if (esLugaresDevoc) { %> <%- include("LT-3LugaresDevoc-1Indice") %><% } %>

			<div id="flechas">
				<% if (encabezado.ant_id) { %>
					<a href="?id=<%= encabezado.ant_id %>" class="flechaIzquierda">
						<i class="<%= iconos.faSolid %> <%= iconos.izquierda %>"></i>
					</a>
				<% } %>
				<% if (encabezado.sig_id) { %>
					<a href="?id=<%= encabezado.sig_id %>" class="flechaDerecha">
						<i class="<%= iconos.faSolid %> <%= iconos.derecha %>"></i>
					</a>
				<% } %>
			</div>
	</div>
<% } %>

<!-- Artículo -->
<div id="tituloMasContenido">

	<% const tituloDelContenido = locals.encabezado && esConIndice && encabezado.tituloElab %>
	<% if (tituloDelContenido) { %>
		<!-- Título del contenido -->
		<h3 id="tituloDelContenido"><%= tituloDelContenido %></h3>
	<% } %>

	<!-- Contenido -->
	<div id="contenido" tabindex="0">
		<% if (encabezado) for (const contenido of contenidos) { %>
			<% const subCarpeta = contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>
			<%- include("LT-Cont-" + contenido.layout.archVistaLt, {contenido, subCarpeta}) %>
		<% } %>
	</div>

</div>
