<%- include('MN-Timer') %>
<h1 id="tituloPrincipal"><%= tituloPagina %></h1>

<section id="cuerpo">
	<!-- Filtros -->
	<%- include("ACT-1Filtros") %>

	<!-- Editables -->
	<section id="editables">
		<!-- Encabezado -->
		<div id="sectorEncabezado" class="sector">
			<%- include("ACT-2Encabezado") %>
		</div>

		<!-- Contenido actual -->
		<div id="sectorContActual">
			<%- include("ACT-3ContActual") %>
		</div>

		<!-- Contenido nuevo -->
		<div id="sectorContNuevo" class="sector">
			<%- include("ACT-4ContNuevo") %>
		</div>
	</section>

</section>
