<div id="indice" class="contenedor">
	<% for (const indice of indices) { %>
		<!-- Rutina por indice -->
		<% const encabsIndice = encabezados.filter((n) => n.fechaEvento >= indice.fechaDesde && n.fechaEvento <= indice.fechaHasta); %>

		<% if (!encabsIndice.length) continue  %>

		<% if (encabsIndice.length == 1) { %>
			<!-- Indice con un solo encabezado -->
			<a href="?id=<%= encabsIndice[0].id %>" class="titulo">
				<%= indice.nombre %>
			</a>

		<% } else { %>
			<!-- Ãndice con varios encabezados -->
			<div class="tituloEncabs">
				<!-- Titulo -->
				<div class="titulo">
					<i class="fa-solid fa-caret-right mostrar"></i>
					<%= indice.nombre %>
				</div>

				<!-- Encabezados -->
				<% for (const encabIndice of encabsIndice) { %>
					<% console.log(21, encabIndice) %>
					<a href="?id=<%= encabIndice.id %>" class="encabezado ocultar"><%= encabIndice.tituloCons %></a>
				<% } %>

			</div>
		<% } %>
	<% } %>
</div>
