<!-- Filtros -->
<div id="filtros" class="contenedor">
	<div class="titulo">
		<i class="fa-solid fa-caret-right mostrar"></i>
		Filtros
	</div>
</div>

<!-- Índice -->
<div id="indice" class="contenedor">
	<% for (const indice of indiceCartas) { %>
		<!-- Rutina por indice -->
		<% const encabsIndice = encabezados.filter((n) => n.fechaEvento >= indice.fechaDesde && n.fechaEvento <= indice.fechaHasta); %>
		<% if (!encabsIndice.length) continue  %>
		<% if (encabsIndice.length == 1) { %>
			<!-- Indice con una sola carta -->
			<a href="?id=<%= encabsIndice[0].id %>" class="titulo">
				<%= indice.nombre %>
			</a>
		<% } else { %>
			<!-- Índice con varias cartas -->
			<div class="titulo">
				<i class="fa-solid fa-caret-right mostrar"></i>
				<%= indice.nombre %>
			</div>
			<!-- Cartas -->
			<% for (const encabIndice of encabsIndice) { %>
				<a href="?id=<%= encabIndice.id %>" class="carta"><%= encabIndice.tituloCons %></a>
			<% } %>
		<% } %>
	<% } %>
</div>

<!-- Ficha técnica -->
<div id="fichaTecnica">
	<% if (encabezado.numero) { %>
		<h3>Ficha técnica:</h3>
		<ul type="disc">
			<li>Fecha: <%= comp.fechaHora.diaMesAnoUTC(encabezado.fechaEvento) %></li>
			<li>Desde: <%= encabezado.lugar.nombre %></li>
			<li>De: <%= encabezado.nombreDesde.nombre %></li>
			<li>Para: <%= encabezado.nombreHacia.nombre %></li>
			<li>Idioma: <%= encabezado.idioma.nombre %></li>
		</ul>
	<% } %>
</div>
