<%- include('MN-Timer') %>
<h1 id="tituloPrincipal"><%= tituloPagina %></h1>

<section id="cuerpo">
	<div id="encabezado" data-encab_id="<%= encabezado.id %>">
		<h2><%= seccionTema %><% if (encabezado.titulo) { %>: <em><%= encabezado.titulo %></em><% } %></h2>
		<i id="aprobar" class="<%= iconos.faSolid %> <%= iconos.check %>"></i>
		<i id="rechazar" class="<%= iconos.faSolid %> <%= iconos.eliminar %>"></i>
		<img src="<%= encabezado.imagenUsuario %>" title="<%= encabezado.usuario.nombreCompleto %>" class="noAgrandar">
	</div>

	<!-- Contenido -->
	<div id="contenidoRevisar">
		<% if (encabezado) for (const contenido of encabezado.contenidos) { %>
			<% const subCarpeta = contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>
			<%- include("LT-Cont-" + contenido.layout.archVistaLt, {contenido, subCarpeta}) %>
		<% } %>
	</div>

</section>
