<div id="filtroIndice">
	<div id="filtros" class="contenedor">
		<div class="titulo">
			<i class="fa-solid fa-caret-right mostrar"></i>
			Filtros
		</div>
	</div>
	<div id="indice" class="contenedor">
		<a href="?inicio" class="titulo">Inicio</a>
		<a href="?introduccion" class="titulo">Introducción</a>
		<a href="?numero=1" class="titulo">1778</a>
		<div class="titulo">
			<i class="fa-solid fa-caret-right mostrar"></i>
			1780-1784
		</div>
		<div class="titulo">
			<i class="fa-solid fa-caret-right mostrar"></i>
			1800-1816
		</div>
	</div>
	<div id="fichaTecnica">
		<h3>Ficha técnica:</h3>
		<ul type="disc">
			<li>Fecha: <%= comp.fechaHora.diaMesAnoUTC(encabCarta.fechaEvento) %></li>
			<li>Desde: <%= encabCarta.lugar.nombre %></li>
			<li>De: <%= encabCarta.nombreDesde.nombre %></li>
			<li>Para: <%= encabCarta.nombreHacia.nombre %></li>
			<li>Idioma: <%= encabCarta.idioma.nombre %></li>
		</ul>
	</div>
</div>

<div id="carta">
	<h2 id="cartaTitulo" class="fondo"><%= tituloCarta %></h2>
	<div id="contImagen">
		<div id="imgLeyenda">
			<img id="imagenCarta" src="/imgsEditables/1-Contenido/<%= encabCarta.imagen %>">
			<div id="leyendaImagen" class="fondo"><%= encabCarta.leyenda %></div>
		</div>
		<div id="cartaContenido" class="fondo"><%- contCarta.texto %></div>
	</div>
</div>
