<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('HD-Generico') %>
		<%- include('HD-Personalizado') %>
	</head>
	<body>
		<header><%- include('HR-0Header') %></header>
		<main><%- include('MN-0Main') %></main>
		<footer><%- include('CMP-Footer') %></footer>
	</body>
</html>
