<!-- Filtros -->
<%- include("LT-Filtro") %>

<!-- Índice -->
<%- include("LT-Indice", {indices: indicesCartas}) %>

<!-- Ficha técnica -->
<div id="fichaTecnica">
	<% if (encabezado.numero) { %>
		<h3>Ficha técnica</h3>
		<ul type="disc">
			<li>Fecha: <%= comp.fechaHora.diaMesAnoUTC(encabezado.fechaEvento) %></li>
			<li>De: <%= encabezado.nombreDesde.nombre %></li>
			<li>Para: <%= encabezado.nombreHacia.nombre %></li>
			<li>Desde: <%= encabezado.lugarCarta.nombre %></li>
			<li>Idioma: <%= encabezado.idioma.nombre %></li>
		</ul>
	<% } %>
</div>
