<div id="indice" class="contenedor">
	<% for (const indice of indices) { %>
		<% const encabsIndice = encabezados.filter((n) => n.indiceDevoc_id == indice.id); %>

		<% if (!encabsIndice.length) continue; %>

		<% if (encabsIndice.length == 1) { %>
			<!-- Indice con un solo encabezado -->
			<a href="?id=<%= encabsIndice[0].id %>" class="titulo">
				<%= indice.nombre %>
			</a>

		<% } else { %>
			<!-- Ãndice con varios encabezados -->
			<div class="tituloEncabs">
				<!-- Titulo -->
				<div class="titulo">
					<i class="fa-solid fa-caret-right mostrar"></i>
					<%= indice.nombre %>
				</div>

				<!-- Encabezados -->
				<div class="encabezados ocultar">
					<% for (const encabIndice of encabsIndice) { %>
						<a href="?id=<%= encabIndice.id %>" class="encabezado"><%= encabIndice.titulo %></a>
					<% } %>
				</div>
			</div>
		<% } %>
	<% } %>
</div>
