<!-- Formulario -->
<form id="formEdicion">
	<!-- Área donde soltar el archivo de imagen -->
	<div id="areaSoltar">
		<p id="cartelImagen">Arrastrá tu imagen (opcional)</p>
		<button type="button">Buscala</button>
		<input id="imagenUsuario" type="file" accept="image/*" hidden>
		<img id="vistaImagen" src="<%= avatar %>">
	</div>

	<!-- Inputs y select -->
	<input class="input" type="text" name="apodo" placeholder="Escribí tu apodo" autocomplete="off" value="<%= usuario.apodo %>">
	<input class="input" type="password" name="contrasena" placeholder="Nueva contrasena (opcional)" autofocus autocomplete="new-password">
	<select class="input" name="paisResidencia">
		<option value="">País de residencia</option>
		<option value="AR">Argentina</option>
		</optgroup>
		<% for (const continente of continentes) { %>
			<optgroup label="<%= continente %>">
				<% for (const pais of paises.filter(n => n.continente == continente)) { %>
					<option value="<%= pais.id %>" <% if (pais.id == usuario.pais_id) { %>selected<% } %>><%= pais.nombre %></option>
				<% } %>
			</optgroup>
		<% } %>

	</select>
	<label id="contenedorNovedades" for="novedades">
		<input class="input" type="checkbox" id="novedades">
		Deseo recibir las novedades por mail
	</label>

	<!-- Resultado -->
	<p id="mensaje"></p>

	<!-- Confirma -->
	<div id="fondoConfirma">
		<button type="submit" id="confirma">Guardá los cambios</button>
	</div>
</form>
