<form id="formLogin" class="mostrarToggle ocultar">
	<!-- Inputs -->
	<input type="email" name="email" placeholder="e-mail">
	<div id="contContrasena" class="relative">
		<input type="password" name="contrasena" placeholder="contraseña">
		<i id="eye" class="<%= iconos.faSolid %> fa-eye-slash absolute"></i>
	</div>


	<!--Iconos-->
	<div id="iconos">
		<i id="confirmaLogin" class="<%= iconos.faSolid %> <%= iconos.check %> scaleHover" title="Login"></i>
		<a href="/usuarios<%= rutasUsuario.altaOlvido %>">
			<i id="altaOlvido" class="<%= iconos.faSolid %> <%= iconos.altaUser %> scaleHover" title="Alta de usuario / Olvido de contraseña"></i>
		</a>
	</div>

</form>