<!-- Ícono -->
<% const imagenUsuario = usuario.imagen ? ("/imgsEditables/8-Usuarios/" + usuario.imagen) : "/imgsEstables/Varios/usuarioGenerico.jpg" %>
<img id="imagenUsuario" <% if (usuario.apodo) { %>title="Hola <%= usuario.apodo %>"<% } %> src="<%= imagenUsuario %>" class="mostrarClick pointer">

<!-- Menu de usuario -->
<div id="menuLogout" class="mostrarToggle ocultar">
	<a href="/usuarios/edicion" class="menuOpcion">
		<i class="<%= iconos.faSolid %> <%= iconos.edicion %> icono"></i>
		<span>Edición</span>
	</a>
	<div id="logout" class="menuOpcion">
		<i class="<%= iconos.faSolid %> fa-right-from-bracket icono"></i>
		<span>Logout</span>
	</div>
</div>
