<!-- Estampa -->
<div class="bloque bloque-<%= contenido.layout.codigo %> flexCol<%- locals.cambioStatusCont ? (" " +  contenido.statusRegistro.codigo) : '' %>">
	<% if (locals.cambioStatusCont && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("REV-9ApruebaRech") %>

		<!-- Imagen del usuario que sugirió el cambio de status -->
		<%- include("REV-9ImgUsuario", {usuario: contenido.statusSugeridoPor}) %>
	<% } %>

	<!-- Estampa -->
	<% if (contenido.titulo) { %>
		<h3 class="titulo"><%= contenido.titulo %></h3>
	<% } %>
	<div class="imagenes">
		<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
		<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen2 %>">
	</div>
</div>
