<!-- Texto + Imagen -->
<div class="bloque bloque-<%= contenido.layout.codigo %>">
	<div class="imgLeyenda flexColAlign">
		<img class="imagen" src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
		<% if (contenido.leyenda) { %>
			<div class="leyenda"><%= contenido.leyenda %></div>
		<% } %>
	</div>
	<div class="texto"><%- contenido.texto %></div>
</div>
