<!-- Carrusel -->
<div class="bloque bloque-<%= contenido.layout.codigo %> flexColAlign<%- locals.cambioContenido ? (" " +  contenido.statusRegistro.codigo) : '' %>">
	<% if (locals.cambioContenido && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("REV-9ApruebaRech") %>
		<% const {statusSugeridoPor} = contenido %>
		<% const {imagen, nombreCompleto} = statusSugeridoPor %>
		<%- include("REV-9ImgUsuario", {imagenUsuario: imagen, nombreCompleto}) %>
	<% } %>
	<div class="contenedorImgs flexRow" style="--anchorName: --carrusel-<%= contenido.id %>;">
		<% for (const carrusel of contenido.carrusel) { %>
			<div class="contenedorImg flexColAlign">
				<img src="/imgsEditables/<%- contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>/<%= carrusel.imagen %>">
			</div>
		<% } %>
	</div>
	<% if (contenido.leyenda) { %>
		<div class="leyenda"><%= contenido.leyenda %></div>
	<% } %>
</div>
