<!-- Sólo Texto -->
<div class="bloque bloque-<%= contenido.layout.codigo %> <%- locals.cambioContenido ? contenido.statusRegistro.codigo : '' %>">
	<% if (locals.cambioContenido && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("REV-9ApruebaRech") %>
		<% const {statusSugeridoPor} = contenido %>
		<% const {imagen, nombreCompleto} = statusSugeridoPor %>
		<%- include("REV-9ImgUsuario", {imagenUsuario: imagen, nombreCompleto: nombreCompleto}) %>
	<% } %>
	<%- contenido.texto %>
</div>
