<!-- Libro -->
<div class="bloque bloque-<%= contenido.layout.codigo %> <%- locals.cambioContenido ? contenido.statusRegistro.codigo : '' %>">
	<% if (locals.cambioContenido && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("REV-9ApruebaRech") %>
		<% const {statusSugeridoPor} = contenido %>
		<% const {imagen, nombreCompleto} = statusSugeridoPor %>
		<%- include("REV-9ImgUsuario", {imagenUsuario: imagen, nombreCompleto: nombreCompleto}) %>
	<% } %>

	<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
	<div class="texto">
		<div class="titulo"><%= contenido.titulo %></div>
		<div class="autor"><%= contenido.autor %></div>
		<div class="editorialAno">
			<%= contenido.anoLanzam || "" %>
			<%- contenido.anoLanzam && contenido.editorial ? " - " : "" %>
			<%= contenido.editorial || "" %>
			<% if (contenido.editorial && contenido.editorial.toLowerCase().includes("descarga")) { %>
				<!-- Particular para el download -->
				<a href="/descargas/El-estandarte-de-la-mujer-fuerte.pdf" download>
					<i class="fa-solid fa-download"></i>
				</a>
			<% } %>
		</div>
	</div>
</div>
