<!-- Video -->
<div class="bloque bloque-<%= contenido.layout.codigo %> imgLeyenda flexColAlign <%- locals.cambioContenido ? contenido.statusRegistro.codigo : '' %>">
	<% if (locals.cambioContenido && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("LT-Cont-9ApruebaRech") %>
		<% const {statusSugeridoPor} = contenido %>
		<% const {imagen, nombreCompleto} = statusSugeridoPor %>
		<%- include("REV-9ImgUsuario", {imagenUsuario: imagen, nombreCompleto: nombreCompleto}) %>
	<% } %>

	<iframe src="https://www.youtube.com/embed/<%= contenido.video %>?autoplay=1"></iframe>
	<% if (contenido.leyenda) { %>
		<div class="leyenda"><%= contenido.leyenda %></div>
	<% } %>
</div>
