<!-- Video -->
<div class="bloque bloque-<%= contenido.layout.codigo %> imgLeyenda flexColAlign<%- locals.cambioStatusCont ? (" " +  contenido.statusRegistro.codigo) : '' %>">
	<% if (locals.cambioStatusCont && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("REV-9ApruebaRech") %>

		<!-- Imagen del usuario que sugirió el cambio de status -->
		<%- include("REV-9ImgUsuario", {usuario: contenido.statusSugeridoPor}) %>
	<% } %>

	<!-- Video -->
	<iframe src="https://www.youtube.com/embed/<%= contenido.video %>?autoplay=1"></iframe>
	<% if (contenido.leyenda) { %>
		<!-- Leyenda -->
		<div class="leyenda"><%= contenido.leyenda %></div>
	<% } %>
</div>
