<% } else if (clase == "estampas") { %>
	<!-- ESTAMPAS -->
	<p><%= contenido.texto %></p>
	<div class="imagenes">
		<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
		<img src="/imgsEditables/<%= subCarpeta %>/<%= contenido.video %>">
	</div>

<% } %>
