<!-- Libro -->
<div class="bloque bloque-<%= contenido.layout.codigo %><%- locals.cambioStatusCont ? (" " +  contenido.statusRegistro.codigo) : '' %>">
	<% if (locals.cambioStatusCont && contenido.statusRegistro_id != aprobado_id) { %>
		<!-- Aprueba / Rechaza -->
		<%- include("REV-9ApruebaRech") %>

		<!-- Imagen del usuario que sugirió el cambio de status -->
		<%- include("REV-9ImgUsuario", {usuario: contenido.statusSugeridoPor}) %>
	<% } %>

	<!-- Imagen del libro -->
	<img class="libroEstampa" src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">

	<!-- Información del libro -->
	<div class="texto">
		<div class="titulo"><%= contenido.titulo %></div>
		<% if (contenido.subTitulo) { %>
			<div class="subTitulo"><%= contenido.subTitulo %></div>
		<% } %>
		<div class="autor"><%= contenido.autor %></div>
		<div class="editorialAno">
			<%= contenido.anoLanzam || "" %>
			<%- contenido.anoLanzam && contenido.editorial ? " - " : "" %>
			<%= contenido.editorial || "" %>
			<% if (contenido.descarga) { %>
				<!-- Particular para el download -->
				<a href="/descargas/PDF - <%= contenido.descarga %>.pdf" download>
					<i class="fa-solid fa-download"></i>
				</a>
			<% } %>
		</div>
		<% if (contenido.cantPags) { %>
			<div class="cantPags"><%= contenido.cantPags %> páginas</div>
		<% } %>
	</div>
</div>
