<section id="edicion" class="flexCol">
	<% for (const prop in edicion) { %>
		<div class="flexRow">
			<div><%= prop %>: </div>
			<% const esUnObjeto = edicion[prop] !== null && typeof edicion[prop] == "object" && !(edicion[prop] instanceof Date); %>
			<% if (esUnObjeto) { %>
				<div id="original" data-campo="<%= prop %>_id"><%= encabezado[prop].nombre %> - </div>
				<div id="edicion"><%= edicion[prop].nombre %></div>
			<% } else { %>
				<div id="original" data-campo="<%= prop %>"><%= encabezado[prop] %> - </div>
				<div id="edicion"><%= edicion[prop] %></div>
			<% } %>
		</div>
	<% } %>
</section>
