<section id="sectorEdicion" class="flexRow" data-encab_id="<%= encabezado.id %>">
	<% const {imagen, nombreCompleto} = encabezado.editadoPor %>
	<% const imagenUsuario = imagen ? ("/imgsEditables/8-Usuarios/" + imagen) : "/imgsEstables/Varios/usuarioGenerico.jpg" %>
	<img src="<%= imagenUsuario %>" title="<%= nombreCompleto %>" class="noAgrandar">

	<div class="flexCol">
		<% for (const prop in edicion) { %>
			<div class="flexRow">
				<div class="campo"><%= prop %>: </div>
				<% const esUnObjeto = edicion[prop] !== null && typeof edicion[prop] == "object" && !(edicion[prop] instanceof Date); %>
				<% if (esUnObjeto) { %>
					<div class="opcion original" data-campo="<%= prop %>_id"><%= encabezado[prop].nombre %> - </div>
					<div class="opcion edicion" data-campo="<%= prop %>_id"><%= edicion[prop].nombre %></div>
				<% } else { %>
					<div class="opcion original" data-campo="<%= prop %>"><%= encabezado[prop] %> - </div>
					<div class="opcion edicion" data-campo="<%= prop %>"><%= edicion[prop] %></div>
				<% } %>
			</div>
		<% } %>
	</div>
</section>
