<section id="sectorEdicion" data-edicion_id="<%= encabezado.edicion_id %>">
	<!-- Imagen del usuario que sugirió el cambio de status -->
	<%- include("REV-9ImgUsuario", {usuario: encabezado.editadoPor}) %>

	<!-- Ediciones -->
	<div id="ediciones">
		<% for (const prop in edicion) { %>
			<!-- Averigua el campo -->
			<% const esUnObjeto = edicion[prop] !== null && typeof edicion[prop] == "object" && !(edicion[prop] instanceof Date); %>
			<% const campo = prop + (esUnObjeto ? "_id" : "") %>

			<!-- Combo: campo + opciones -->
			<div class="campoEdicion" data-campo="<%= campo %>">
				<!-- Campo -->
				<div class="campo"><%= camposEdicion.vista[prop] %>: </div>

				<!-- Opciones -->
				<% if (esUnObjeto) { %>
					<div class="opcion original"><%= encabezado[prop].nombre %></div>
					<div class="opcion edicion"><%= edicion[prop].nombre %></div>
				<% } else { %>
					<div class="opcion original"><%= encabezado[prop] %></div>
					<div class="opcion edicion"><%= edicion[prop] %></div>
				<% } %>

			</div>
		<% } %>
	</div>

</section>
