<div class="apruebaRechaza" <% if (locals.contenido) { %> data-contenido_id="<%= contenido.id %>" <% } %>>
	<i id="aprueba" class="<%= iconos.faSolid %> <%= iconos.check %>"></i>
	<i id="rechaza" class="<%= iconos.faSolid %> <%= iconos.eliminar %>"></i>
</div>
