<div id="encabezado" class="<%= encabezado.statusRegistro.codigo %>" data-encab_id="<%= encabezado.id %>">
	<% if (!edicion) { %>
		<!-- Íconos de aprueba / rechaza -->
		<i id="aprueba" class="<%= iconos.faSolid %> <%= iconos.check %>"></i>
		<i id="rechaza" class="<%= iconos.faSolid %> <%= iconos.eliminar %>"></i>
	<% } %>
		<!-- Ruta -->
		<h2><%= ruta %></h2>
	<% if (!edicion) { %>
		<!-- Imagen del usuario que sugirió el status -->
		<img src="<%= encabezado.imagenUsuario %>" title="<%= encabezado.usuario.nombreCompleto %>" class="noAgrandar">
	<% } %>
</div>
<% if (encabezado.tituloElab || encabezado.titulo) { %>
	<h3><%= encabezado.tituloElab || encabezado.titulo %></h3>
<% } %>
