<form id="encabCartas" class="encabezado ocultar">
	<input name="numero" type="text" class="input" placeholder="N°">
	<select name="nombreDesde_id" class="input" data-tabla="personajes">
		<option value="">Remitente</option>
	</select>
	<select name="nombreHacia_id" class="input" data-tabla="personajes">
		<option value="">Destinatario</option>
	</select>
	<select name="idioma_id" class="input" data-tabla="idiomas">
		<option value="">Idioma</option>
	</select>
	<select name="lugarCarta_id" class="input" data-tabla="lugaresCartas">
		<option value="">Dónde se escribió</option>
	</select>
	<input type="date" name="fechaEvento" class="input">
</form>

<form id="encabExpers" class="encabezado ocultar">
	<input type="text" name="titulo" class="input" placeholder="Título">
	<select name="lugarExper_id" class="input" data-tabla="lugaresExpers">
		<option value="">Dónde ocurrió</option>
	</select>
	<input type="date" name="fechaEvento" class="input">
</form>

<form id="encabLugares" class="encabezado ocultar">
	<input type="text" name="titulo" class="input" placeholder="Título">
	<select name="indiceDevoc_id" class="input" data-tabla="indicesDevoc">
		<option value="">Lugar geográfico</option>
	</select>
</form>

<form id="encabSinIndice" class="encabezado ocultar"></form>

<div class="iconos">
	<i id="guardar" class="<%= iconos.faSolid %> fa-save ocultar" title="Guarda"></i>
	<i id="recuperar" class="<%= iconos.faSolid %> <%= iconos.izquierda %> ocultar" title="Recupera"></i>
	<i id="eliminar" class="<%= iconos.faSolid %> <%= iconos.eliminar %> ocultar" title="Elimina"></i>
	<img src="" class="noAgrandar">
</div>
