<section id="menuTituloTema" class="flexRowAlign" data-seccion_codigo="<%= seccionActual.codigo %>">
	<%- include("MN-1Temas") %>

	<% tema = temasSeccion[0] %>
	<h1 id="tituloTema"><%= tema.titulo %></h1>
</section>

<section id="contenidoTemas">
	<% for (const tema of temasSeccion) { %>
		<!-- Tema -->
		<div class="contenidoTema contenido <% if (tema.id != temaActual.id) { %>ocultar<% } %>" data-tema_codigo="<%= tema.codigo %>">
			<!-- Sin pesta単as -->
			<% if (!tema.pestanas.length) { %>
				<%- include("MN-3ArticCarta", {tema, sonCartas: tema.codigo == "cartas"}) %>

			<% } else { %>
				<!-- Tiene pesta単as - Pesta単as -->
				<%- include("MN-2Pestanas", {tema}) %>

				<!-- Tiene pesta単as - Contenido -->
				<% const pestanaActual = tema.pestanas[0] %>
				<% for (const pestana of tema.pestanas) { %>
					<div class="contenidoPestana contenido <% if (!pestanaActual || pestana.id != pestanaActual.id) { %>ocultar<% } %>" data-pestana_codigo="<%= pestana.codigo %>">
						<%- include("MN-3ArticCarta", {pestana}) %>
					</div>
				<% } %>
			<% } %>
		</div>
	<% } %>
</section>
