<section id="tituloTema" class="flexRowAlign">
	<%- include("MN-1Temas") %>

	<% tema = temasSeccion[0] %>
	<h1 id="titulo"><%= tema.titulo %></h1>
</section>

<section id="contenidoTemas" class="contenido">
	<% for (const tema of temasSeccion) { %>
		<!-- Sin pestañas -->
		<% if (!tema.pestanas.length) { %>
			<%- include("MN-3ArticCarta", {tema_id: tema.id, sonCartas: tema.codigo == "cartas"}) %>
		<% } else { %>
			<% continue %>
			<!-- Tiene pestañas -->
			<%- include("MN-2Pestanas") %>
			<div id="contenidoPestanas" class="contenido">
				<% for (const pestana of tema.pestanas) { %>
					<%- include("MN-3ArticCarta", {pestana_id: pestana.id}) %>
				<% } %>
			</div>
		<% } %>
	<% } %>
</section>