<section id="tituloTema" class="flexRowAlign">
	<%- include("MN-Temas") %>

	<% tema = temasSeccion[0] %>
	<h1 id="titulo"><%= tema.titulo %></h1>
</section>

<% if (!tema.pestanas.length) { %>
	<div id="contenidoTema" class="contenido"><%- include("MN-Contenido") %></div>
<% } else { %>
	<%- include("MN-Pestanas") %>
	<div id="contenidoPestana" class="contenido"><%- include("MN-Contenido") %></div>
<% } %>
