<!-- Menú para Mobile -->
<section id="menuMobile" class="mobile">
	<%- include("CMP-HR-MenuMobile") %>
</section>

<section id="familia">
	<a href="/">Familia Mama Antula</a>
	<h4>María Antonia de San José Paz y Figueroa</h4>
</section>

<!-- Búsqueda rápida -->
<section id="busquedaRapida">
	<%- include("CMP-HR-BusqRapida") %>
</section>

<!-- Secciones -->
<section id="secciones" class="flexRowAlign">
	<% for (const seccion of seccionesLectura) { %>
		<a href="/<%= seccion.url %>" <% if (seccion.nombre == locals.tituloPagina) { %> class="resaltar"<% } %>><%= seccion.nombre %></a>
	<% } %>
</section>

<section id="usuario" class="flexColAlign">
	<% if (!locals.usuario) { %><%- include("CMP-HR-Login") %>
	<% } else { %><%- include("CMP-HR-Logout") %>
	<% } %>
</section>
