<section id="izquierda">
	<a href="/">Familia Mama Antula</a>
	<h4>María Antonia de San José Paz y Figueroa</h4>
</section>

<section id="centro" class="flexRowAlign">
	<!-- Búsqueda rápida -->
	<%- include("CMP-HR-BusqRapida") %>

	<!-- Secciones -->
	<% for (const seccion of seccionesLectura) { %>
		<a href="/<%= seccion.url %>" <% if (seccion.nombre == locals.tituloPagina) { %> class="resaltar"<% } %>><%= seccion.nombre %></a>
	<% } %>
</section>

<section id="derecha" class="flexColAlign">
	<% if (!locals.usuario) { %><%- include("CMP-HR-Login") %>
	<% } else { %><%- include("CMP-HR-Logout") %>
	<% } %>
</section>
