<section id="familia">
	<a href="/">Familia Mama Antula</a>
	<h4>María Antonia de San José Paz y Figueroa</h4>
</section>

<section id="mmBr">
	<div id="mobile" class="mobile formIconoMenu">
		<%- include("CMP-HR-MenuMobile") %>
	</div>
	<div id="busquedaRapida" class="formIconoMenu">
		<%- include("CMP-HR-BusqRapida") %>
	</div>
</section>

<!-- Secciones -->
<section id="secciones" class="flexRowAlign">
	<% for (const seccion of seccionesLectura) { %>
		<a href="/<%= seccion.url %>" <% if (seccion.nombre == locals.tituloPagina) { %> class="resaltar"<% } %>><%= seccion.nombre %></a>
	<% } %>
</section>

<section id="usuario" class="formIconoMenu">
	<% if (!locals.usuario) { %><%- include("CMP-HR-Login") %>
	<% } else { %><%- include("CMP-HR-Logout") %>
	<% } %>
</section>
