<!-- Formulario -->
<form id="formEdicion">
	<!-- Área donde soltar el archivo de imagen -->
	<div id="areaSoltar">
		<p id="cartelImagen">Arrastrá o buscá tu imagen (opcional)</p>
		<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
		<img id="vistaImagen" src="<%= imagen %>" class="noAgrandar">
	</div>

	<!-- Inputs y select -->
	<input type="text" name="apodo" placeholder="Escribí tu apodo" autocomplete="off" value="<%= usuario.apodo %>" autofocus>
	<input type="password" name="contrasena" placeholder="Nueva contrasena (opcional)" autocomplete="new-password">
	<select name="paisResidencia" class="ocultar">
		<option value="">País de residencia</option>
		<option value="AR">Argentina</option>
		</optgroup>
		<% for (const continente of continentes) { %>
			<optgroup label="<%= continente %>">
				<% for (const pais of paises.filter(n => n.continente == continente)) { %>
					<option value="<%= pais.id %>" <% if (pais.id == usuario.pais_id) { %>selected<% } %>><%= pais.nombre %></option>
				<% } %>
			</optgroup>
		<% } %>

	</select>
	<label id="contNovs">
		<input type="checkbox" name="notificacs">
		Deseo recibir las novedades por mail
	</label>

	<!-- Confirma -->
	<div id="fondoConfirma">
		<button type="submit" id="confirma" class="ocultar">Guardá los cambios</button>
	</div>
</form>
